In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import wbgapi as wb
import os
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

In [2]:
source = pd.DataFrame(wb.source.list())

In [3]:
source.shape

(68, 10)

In [5]:
wb.db = 2

In [6]:
ex = wb.series.Series()

In [8]:
test = pd.DataFrame(ex).reset_index()

In [9]:
test.head()

,index,SeriesName
0,AG.AGR.TRAC.NO,"Agricultural machinery, tractors"
1,AG.CON.FERT.PT.ZS,Fertilizer consumption (% of fertilizer production)
2,AG.CON.FERT.ZS,Fertilizer consumption (kilograms per hectare of arable land)
3,AG.LND.AGRI.K2,Agricultural land (sq. km)
4,AG.LND.AGRI.ZS,Agricultural land (% of land area)

In [14]:
test["index"].str.contains("AG.LND.AGRI.K2").any()

True

In [11]:
ListOfIndicators = pd.read_csv(r'C:\Moimeme\IndicatorsCodeWB.csv', encoding='iso-8859-1')
ListOfIndicators.head()

,afrocode,Indicator,IndicatorCodeWB,Options,Mesure_Type,fileName
0,AFR0001,Average life expectancy at birth (in years),SP.DYN.LE00.IN,NaN,Years,WBI1
1,AFR0003,Life expectancy at age 60 years,SP.DYN.LE60.FE.IN,Female,Years,WBI2
2,AFR0003,Life expectancy at age 60 years,SP.DYN.LE60.MA.IN,Male,Years,WBI3
3,AFR0004,Population size (in thousands) total,SP.POP.TOTL,NaN,in thousands,WBI4
4,AFR0005,Crude death rate (per 1 000 mid-year population),SP.DYN.CDRT.IN,NaN,per 1000 mid-year population,WBI5

In [12]:
IndicatorCodeWB = []
Db = []

Indicators = ListOfIndicators["IndicatorCodeWB"]

source = pd.DataFrame(wb.source.list())
for i in list(source['id']):
    wb.db = i
    test = pd.DataFrame(wb.series.Series()).reset_index()
    Indicators = list(set(Indicators) - set(IndicatorCodeWB))
    if (len(Indicators)>0):
        CommunInd = list(set(Indicators).intersection(test["index"]))
        if (len(CommunInd)>0):
            IndicatorCodeWB.extend(CommunInd)
            for num in range(len(CommunInd)):
                Db.append(i)
    else:
        break

In [13]:
data = pd.DataFrame({'IndicatorCodeWB':IndicatorCodeWB, 'DataBase':Db})

data.to_csv ('C:\\Moimeme\\IndicatorsDb.csv', index = False, header=True)